body{
    background-color: #e5eaf5;
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
}

.nav-center {
    background-color: #494d5f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #a0d2eb;
    text-transform: capitalize;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #a0d2eb;
}

.links {
    display: flex;
    margin: 0 0.5rem;
    height: auto;
}

.links a {
    margin: 0 1em;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-toggle {
    display: none;
}

.nav-header {
    padding: 10px 30px;
}


@media screen and (max-width: 800px) {
    .nav-center {
        display: block;
    }

    .nav-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        transition: all 0.3s linear;
        background-color: #a0d2eb;
        
    }

    .nav-toggle {
        display: flex;
        background-color: transparent;
        border-color: transparent;
        font-size: 1.5rem;
        color: #a0d2eb;
    }

    .nav-toggle:hover {
        transform: rotate(90deg);
        color: #e5eaf5;
        cursor: pointer;
      }

    .show-links{
        height: auto;
    }

    .links li {
        
    }

    .links a {
        display: block;
        transition: all 0.3s linear;
        padding: 1rem 0;
        color: #494d5f;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 23px;
    }

    .links li:hover {
        cursor: pointer;
        background-color: #e5eaf5;
        color: #a0d2eb;
        
    }

    .links a:hover {
        width: 100%;
        color: #a0d2eb;
    }


}